@import 'tailwindcss';

/* 自定义样式 */
::placeholder {
  color: #9ca3af; /* text-gray-400 */
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9ca3af; /* text-gray-400 */
}

::-ms-input-placeholder {
  color: #9ca3af; /* text-gray-400 */
}

